body {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    background-image:  url('static/img/img1.jpg');
    background-color: #2c2c2c !important;  /* Добавьте !important, чтобы переопределить стили Bootstrap */
}

.content {
    max-width: 800px;
    margin: 0 auto;
}



.stat {
    background-color: #181818;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center; /* Добавлено для центрирования текста */
}

.commtx{
    color: #fff;
}

.stat h1 {
    color: #fff;
    text-align: center; /* Добавлено для центрирования текста */
}

.author-buttons {
    margin-top: 10px;
    margin-right: 600px
}

.author-buttons button {
    margin-right: 10px;
}

.comments-section {
    margin-top: 20px;
}

.comment {
    background-color: #e9ecef;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment a {
    color: #dc3545;
    margin-left: 10px;
}

.add-comment-form {
    margin-top: 20px;
}

.add-comment-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.add-comment-form button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.register-link {
    color: #007bff;
}
