{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'stuleblog.css' %}">
    <title>Document</title>
</head>
<body>
<div style="width: 100%; height: 100%; position: relative">
<div style="width: 100%; height: 100%; position: relative; background: #282828">
    <div style="width: 1440px; height: 70px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1440px; height: 70px; left: 0px; top: 0px; position: absolute; background: rgba(40, 40, 40, 0.20); backdrop-filter: blur(20px)"></div>
        <div style="left: 120px; top: 23px; position: absolute; color: #3E3E3E; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Лого</div>
    </div>
    <div style="width: 340px; height: 47px; left: 317px; top: 11.50px; position: absolute">
        <div style="width: 340px; height: 47px; left: 0px; top: 0px; position: absolute; background: #3E3E3E; border-radius: 8px"></div>
        <div style="width: 18px; height: 18px; left: 305px; top: 15.50px; position: absolute">
            <div style="width: 13.04px; height: 13.04px; left: 2.56px; top: 2.71px; position: absolute; background: white"></div>
        </div>
        <div class="">Поиск</div>
    </div>
    <div style="width: 180.19px; height: 48px; left: 774.81px; top: 11px; position: absolute">
        <div style="width: 180.19px; height: 48px; left: 0px; top: 0px; position: absolute; background: #3E3E3E; border-radius: 10px"></div>
        <div style="width: 18px; height: 18.01px; left: 18.30px; top: 15.33px; position: absolute; background: #B8C9C9"></div>
        <div style="width: 116.57px; height: 24px; left: 45px; top: 12px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Написать пост</div>
    </div>
    <div style="width: 17.50px; height: 21px; left: 1171.81px; top: 19.21px; position: absolute; background: #627070"></div>
    <div style="left: 1204.40px; top: 17.71px; position: absolute">
        <div style="width: 17.59px; height: 18.67px; left: 0px; top: 2.67px; position: absolute; background: #627070"></div>
        <div style="left: 28.45px; top: 0px; position: absolute; text-align: center; color: #627070; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">Войти</div>
    </div>
    <div style="width: 840px; height: 706.88px; left: 300px; top: 158.56px; position: absolute; background: #4E4E4E; border-radius: 10px"></div>
</div>
</body>
</html>