{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'stuleblog.css' %}">
    <title>Document</title>
</head>
<body>
<div class="verhblok"> <div class="poisk"></div> <div class="post"></div> </div>
<div class="stat">{% for i in article %}
<h1>{{ i.title }}</h1>
<p>{{ i.anons }}</p>
<img src="{{ i.img.url }}" class="img">
<p class="text">{{ i.ll_text }}</p>
<p>Дата публикации: {{ i.date }}</p>
{% endfor %}
</div>
</body>
</html>