{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'detal.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="content">
        <div class="stat">
            <h1>{{ object.title }}</h1>
            <p>{{ object.anons }}</p>
            <p>{{ object.ll_text }}</p>
            <p>Дата публикации: {{ object.date }}</p>
        </div>

    </div>
<a href="{% url 'update_article' pk=object.id %}">
  <button type="button" class="btn btn-primary">Редактировать</button>
</a>

<a href="{% url 'update_delete' pk=object.id %}">
  <button type="button" class="btn btn-primary">Удалить статью</button>
</a>


<!--<div id="footer">-->
<!--    <p>-->
<!--        <a href="#">Техподдержка</a>-->
<!--        <a href="#">О нас</a>-->
<!--        <a href="#">Социальные сети</a>-->
<!--    </p>-->
<!--</div>-->



</body>
</html>
